@import './base.css';

html, body, #app {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #f8ede2;
  display: flex;
  justify-content: center;
  align-items: center;
}
