@import './base.css';

html, body, #app {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #EFF0D1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
